# version: '3.8'
services:
  lms-backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    ports:
      - '3000:3000'
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - .:/usr/src/app  # Mount current folder into container
      - /usr/src/app/node_modules # Prevent the node_modules from being overwritten
    command: npm run start:dev  # run dev mode with hot reload

  postgres:
    image: postgres:13
    ports:
      - '5432:5432'
    env_file:
      - .env
