# Dev Override compose: Gives Nest backend with local code folder and hot reload
# Command to run dev docker env: docker compose -f docker-compose.yml -f docker-compose.dev.yml up --build
# version "3.9"
services:
  lms-backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: lms-backend-dev
    command: npm run start:dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - lms-net
